<!doctype html>
<html lang="en">
  <head>
    <title>Suggest Activity</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Are you bored? Here's a fun activity for you!</h1>
    <form action="/activity" method="post">
      <select name="type">
        <option value="random">Activity</option>
        <option value="random">Any Activity</option>
        <option value="education">Education</option>
        <option value="recreational">Recreational</option>
        <option value="social">Social</option>
        <option value="diy">DIY</option>
        <option value="charity">Charity</option>
        <option value="cooking">Cooking</option>
        <option value="relaxation">Relaxation</option>
        <option value="music">Music</option>
        <option value="busywork">Busywork</option>
      </select>
      <select name="participants">
        <option value="any">Participants</option>
        <option value="any">Any Number</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
      
      <button type="submit">Go!</button>
    </form>
    
    <%if (locals.singleActivity) {%>
    
    <section class="message">
      <p><%=singleActivity.activity%></p>
      <div class="details">
      <p><%=singleActivity.type%></p>
      <p><%=singleActivity.participants%></p>
      </div>
    </section>
   <% }%>
    
    <%if (locals.activity) {%>
    
    <section class="message">
    <%let index = Math.floor(Math.random() * activity.length)%>
      <p><%=activity[index].activity%></p>
      <div class="details">
      <p><%=activity[index].type%></p>
      <p><%=activity[index].participants%></p>
      </div>
    </section>
   <% }%>
    
   <% if (locals.error) {%>
       <section class="error">
       <p><%=error%></p>
       </section>
       
   <%} %>
  </body>
</html>